*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}
html,body
{
    width: 100%;
    height: 100%;
}
#main
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(135, 233, 135);
}
#panel
{
    overflow: hidden;
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
}
#ptop
{
    display: flex;
    color: #fff;
    padding: 0px 30%;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(46, 162, 46);
    justify-content: space-between;
}
.elem
{
    display: flex;
    align-items: center;
    gap: 20px;
}
.elem h2
{
    font-weight: 600;
    font-size: 20px;
}
.box
{
    color: rgb(30, 142, 30);
    font-weight: 600;
    font-size: 22px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
}
/* Bottom */
#pbottom
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: calc(100%-100px);
    padding: 20px;
}
#pbottom h1
{
    position: absolute;
    top: 50%;
}
.bubble
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: rgb(42, 141, 42);
    color: #fff;
    border-radius: 50%;
    font-weight: 500;
}
.bubble:hover
{
    background-color: rgb(27, 104, 27);
    cursor: pointer;
}


/* For screens smaller than 768px */
@media (max-width: 768px) {
    #ptop {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .elem {
        margin-bottom: 20px;
    }
}

/* For screens smaller than 480px */
@media (max-width: 480px) {
    #ptop {
        padding: 10px;
    }

    .elem h2 {
        font-size: 18px;
    }

    .box {
        font-size: 16px;
    }

    .bubble {
        width: 40px;
        height: 40px;
        font-size: 14px;
    }
}
